<h2>New Personal Ad</h2>

<form action="<%= personals_url %>" method="POST">
  <%= auth_token %>

  <label>
    Title
    <input type="text" name="personal[title]" value="<%= @personal.title %>" id="title">
  </label>

  <label>
    Location (optional)
    <input type="text" name="personal[location]" value="<%= @personal.location %>" id="location">
  </label>

  <label>
    Gender
    <input type="text" name="personal[gender]" value="<%= @personal.gender %>" id="gender">
  </label>

  <label>
    Age
    <input type="text" name="personal[age]" value="<%= @personal.age %>" id="age">
  </label>

  <label>
    Body
    <input type="textarea" name="personal[body]" value="<%= @personal.body %>" id="body">
  </label>

  <input type="submit" value="Create Ad" />


</form>
