<li class="<% self_or_other(chat) %>">
  <div class="avatar">
    <img src="http://placehold.it/50x50" />
  </div>
  <div class="chatboxmessagecontent">
    <p><%= chat.body %></p>
    <time datetime="<%= chat.created_at %>" title="<%= chat.created_at.strftime("%d %b %Y at %I:%M%p") %>">
      <%= chat_interlocutor(chat).name %> • <%= chat.created_at.strftime("%H:%M %p") %>
    </time>
  </div>
</li>
