<!DOCTYPE html>
<html>
<head>
  <title>AnonPersonals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header group">
    <h1 class="title">Anonymous Personals</h1>

  <nav class="header-content group">

  <% if signed_in? %>
    <%= current_user.username %>
  <% else %>

    <%= link_to "Sign In", new_session_url %>
    <%= link_to "Sign Up", new_user_url %>
  <% end %>
  </nav>
  <% if signed_in? %>
    <nav class="header-sign-out">
      <%= button_to "Sign Out", session_url, :method => :delete %></nav>
  <% end %>
</header>

<% if signed_in? %>

  <% @chat_partners = [] %>
  <% @current_user.partners.each do |partner_id| %>
    <% @chat_partners += User.find(partner_id) %>
<% end %>

<main>

  <section class="content-sidebar">
    <ul class="nav">
      <li><a href="<%= new_personal_url %>">Create Ad</a></li>
      <li><a href="<%= personals_url %>">Search Ads</a></li>
      <li><a href="<%= messages_url %>">Messages</a></li>
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">
        <li><a href="#">Chat</a></li> </button>
          <div id="myDropDown" class="dropdown-content">
            <tr>
              <% @chat_partners.each do |user| %>
              <td>
                <%= link_to "#{user.username}", "#", class: "btn btn-success btn-xs start-conversation",
                    "data-sid" => @current_user.id, "data-rip" => user.id %>
              </td>
              <% end %>
            </tr>
          </div>
    </div>
    </ul>
  </section>

</main>
<% end %>

  <%= render "layouts/errors" %>

  <%= yield %>

  <script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  </script>

</body>
</html>
