<!DOCTYPE html>
<html>
<head>
  <title>AnonPersonals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header group">
    <h1 class="title">Anonymous Personals</h1>

  <nav class="header-content group">

  <% if signed_in? %>
    <%= current_user.username %>
  <% else %>

    <%= link_to "Sign In", new_session_url %>
    <%= link_to "Sign Up", new_user_url %>
  <% end %>
  </nav>
  <% if signed_in? %>
    <nav class="header-sign-out">
      <%= button_to "Sign Out", session_url, :method => :delete %></nav>
  <% end %>
</header>

<% if signed_in? %>
<main class="content group">

  <section class="content-sidebar">
    <ul class="nav">
      <li><a href="<%= new_personal_url %>">Create Ad</a></li>
      <li><a href="#">Search Ads</a></li>
      <li><a href="<%= messages_url %>">Messages</a></li>
      <li><a href="#">Chat</a></li>
    </ul>
  </section>

</main>
<% end %>

  <%= render "layouts/errors" %>

  <%= yield %>

</body>
</html>
